@model GUI.Models.PasswordSavings

@{
    ViewData["Title"] = "Secure Password Storage";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";

}

<h1>@ViewData["Title"]</h1>

<form asp-action="AddPassword" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="EmailOrUsername">Email/Username</label>
        <input type="text" class="form-control" id="Username" name="Username" value="@ViewBag.Username" required readonly>
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <div class="input-group">
            <input type="password" class="form-control" id="Password" name="Password" required>
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary" id="togglePasswordVisibility" onmousedown="togglePassword(true)" onmouseup="togglePassword(false)" ontouchstart="togglePassword(true)" ontouchend="togglePassword(false)">
                    <i class="fa fa-eye"></i>
                </button>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script>function togglePassword(show) {
        var passwordInput = document.getElementById('Password');
        passwordInput.type = show ? 'text' : 'password';
    }</script>
