@model  GUI.Models.PasswordOptions
@{
    ViewData["Title"] = "Create Secure Password";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Home" asp-action="GeneratePassword" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="passwordLength">Password Length:</label>
                <input type="number" class="form-control" id="passwordLength" name="passwordLength" value="12" min="8" max="128" required>
                <span asp-validation-for="PasswordLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="includeSpecialChars" asp-for="IncludeSpecialChars">
                    <label class="form-check-label" for="includeSpecialChars">Include Special Characters</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Generate Password</button>
        </form>
    </div>
    <div class="col-md-6">
        @if (ViewBag.GeneratedPassword != null)
        {
            <label for="generatedPassword">Generated Password:</label>
            <input type="text" class="form-control" id="generatedPassword" value="@ViewBag.GeneratedPassword" readonly>
            <button class="btn btn-secondary mt-2" onclick="copyPassword()">Copy</button>
        }
    </div>
</div>


<div class="modal fade" id="passwordCopiedModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Password copied to clipboard!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
   
    function copyPassword() {
        var password = document.getElementById("generatedPassword");
        password.select();
        password.setSelectionRange(0, 99999); // For mobile browsers
        document.execCommand("copy");

        // Show the copy password modal
        $('#passwordCopiedModal').modal('show');
    }
    </script>
